.sidebarOption {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-weight: 400;
	padding: 10px 25px;
}

.sidebarOption .icon {
	font-size: 22px;
}

.sidebarOption p {
	font-size: 14px;
	margin-left: 20px;
	color: black;
}

.sidebarOption-active {
	background-color: #e5e5e5;
}

.sidebarOption-active .icon {
	color: var(--yt-color);
}

.sidebarOption:hover {
	background-color: var(--yt-color-hover);
}
