@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.YT {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 25px 0;
	padding-bottom: 20px;
}

.yt {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.yt > .icon {
	color: var(--yt-color);
	font-size: 32px;
}

.yt > h2 {
	font-family: "Oswald";
	font-weight: 500;
	color: black;
	cursor: pointer;
}
