* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--yt-color: #ff0000;
	--yt-color-gray: #636060;
	--yt-color-hover: rgb(248, 247, 247);
	overflow: hidden;
	scroll-behavior: smooth;
}

.homepage {
	position: relative;
}

.homepage > .container {
	display: flex;
}

.container .searched-result {
	flex: 0.88;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	background-color: var(--yt-color-hover);
	padding-bottom: 50px;
}

body::-webkit-scrollbar {
	display: none;
}

.icon {
	color: var(--yt-color-gray);
	cursor: pointer;
}

.video-page {
	display: flex;
	height: 100vh;
	padding: 25px 95px 0;
	background-color: var(--yt-color-hover);
	overflow-y: scroll;
}