.sidebar {
	flex: 0.17;
	margin-top: 10px;
	padding-right: 0;
	color: var(--yt-color-gray);
	height: 100vh;
	position: relative;
	overflow-y: scroll;
	z-index: 1000;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar::-webkit-scrollbar-button {
}

.sidebar > hr {
	margin: 7px 0;
	background-color: #e5e5e5;
	height: 1px;
	border: none;
}

.sidebar > .links {
	display: flex;
	justify-content: space-evenly;
}
.sidebar > p {
	padding-left: 20px;
}

.sidebar .icon {
	cursor: pointer;
}
