.widgets {
	display: flex;
	align-items: center;
	margin-left: 70px;
	position: absolute;
	top: 50%;
	right: 3%;
	transform: translateY(-50%);
}

.icons {
	font-size: 25px !important;
	color: var(--yt-color-gray);
	margin-right: 25px;
	cursor: pointer;
}

.profile {
	height: 35px !important;
	width: 35px !important;
	cursor: pointer;
}
